Repository NOAA-GFDL/FMS, changes with the owners that .github/CODEOWNERS names for each.
All owners: @uramirez8707, @bensonr, @rem1776, @mlee03

feat: add standard name to diag manifest yaml (#1692)
  diag_manager/fms_diag_field_object.F90
  diag_manager/fms_diag_yaml.F90
  test_fms/diag_manager/test_diag_manager2.sh
  test_fms/diag_manager/test_modern_diag.F90
Owners: @uramirez8707

Fix so the number of time levels is written correctly in the diag yaml manifest for subregional files
  diag_manager/fms_diag_file_object.F90
  test_fms/diag_manager/check_subregional.F90
Owners: @uramirez8707

Add #ifdef around the parser checks
  test_fms/diag_manager/check_subregional.F90
Owners: @uramirez8707

fix line length limit
  test_fms/diag_manager/check_subregional.F90
Owners: @uramirez8707

feat: add netcdf `chunksizes` argument to `register_field` routines (#1696)
  fms2_io/fms_netcdf_domain_io.F90
  fms2_io/fms_netcdf_unstructured_domain_io.F90
  fms2_io/netcdf_io.F90
Owners: @uramirez8707, @bensonr, @rem1776

Changes the subfolder example for module and file naming.
  CODE_STYLE.md
Owners: @uramirez8707, @bensonr, @rem1776

clean up error messages and warnings
  CMakeLists.txt
  configure.ac
Owners: @mlee03, @uramirez8707, @rem1776

push uncommitted updates
  fms2_io/netcdf_io.F90
  test_fms/offloading/Makefile.am
  test_fms/offloading/metadata_transfer_prototype.F90
  test_fms/offloading/offloading_io.F90
  test_fms/offloading/test_io_offloading.F90
  test_fms/offloading/test_mpp_redistribute.F90
Owners: @uramirez8707, @bensonr, @rem1776, @mlee03

feat: add standard name to diag manifest yaml (#1692)
  diag_manager/fms_diag_field_object.F90
  diag_manager/fms_diag_yaml.F90
  test_fms/diag_manager/test_diag_manager2.sh
  test_fms/diag_manager/test_modern_diag.F90
Owners: @uramirez8707

Fix so the number of time levels is written correctly in the diag yaml manifest for subregional files
  diag_manager/fms_diag_file_object.F90
  test_fms/diag_manager/check_subregional.F90
Owners: @uramirez8707

Add #ifdef around the parser checks
  test_fms/diag_manager/check_subregional.F90
Owners: @uramirez8707

fix line length limit
  test_fms/diag_manager/check_subregional.F90
Owners: @uramirez8707

fix: add standard name to diag manifest and fix for subregional time levels (#1699)
  diag_manager/fms_diag_field_object.F90
  diag_manager/fms_diag_file_object.F90
  diag_manager/fms_diag_yaml.F90
  test_fms/diag_manager/check_subregional.F90
  test_fms/diag_manager/test_diag_manager2.sh
  test_fms/diag_manager/test_modern_diag.F90
Owners: @uramirez8707

changelog and version updates for 2025.02.01 patch
  CHANGELOG.md
  CMakeLists.txt
  configure.ac
  libFMS/Makefile.am
Owners: @uramirez8707, @bensonr, @rem1776, @mlee03

chore: changelog and version updates for 2025.02.01 patch (#1700)
  CHANGELOG.md
  CMakeLists.txt
  configure.ac
  libFMS/Makefile.am
Owners: @uramirez8707, @bensonr, @rem1776, @mlee03

[create-pull-request] automated change
  configure.ac
Owners: @uramirez8707, @rem1776

fix: number of time levels in diag manifest yaml for subregional files (#1698)
  diag_manager/fms_diag_file_object.F90
  test_fms/diag_manager/check_subregional.F90
Owners: @uramirez8707

fix: missed aliases in libFMS file (#1303)
  libFMS.F90
Owners: @uramirez8707, @bensonr, @rem1776

remove real size flag
  .github/workflows/github_cmake_gnu.yml
Owners: @rem1776

fix test_fms directory/executable overlap by adding build directory to cmake ci
  .github/workflows/github_cmake_gnu.yml
Owners: @rem1776

take out the lame executable test
  .github/workflows/github_cmake_gnu.yml
Owners: @rem1776

removed the path length varaible from field manager
  field_manager/field_manager.F90
Owners: @uramirez8707, @bensonr, @rem1776

removed a line
  CODE_STYLE.md
Owners: @uramirez8707, @bensonr, @rem1776

add labels and fix for mpp ascii read test
  CMakeLists.txt
  test_fms/mpp/test_mpp_read_ascii_file.sh
Owners: @mlee03, @uramirez8707, @bensonr, @rem1776

fix for mpp ascii test, remove unused test-lib.sh.in
  test_fms/mpp/test_mpp_read_ascii_file.sh
  test_fms/test-lib-cmake.sh.in
Owners: @uramirez8707, @bensonr, @rem1776, @mlee03

fix so that the file is closed right after done writting data
  diag_manager/fms_diag_file_object.F90
Owners: @uramirez8707

Fix so that the filename is using the correct close_time
  diag_manager/fms_diag_file_object.F90
  test_fms/diag_manager/Makefile.am
  test_fms/diag_manager/check_new_file_freq.F90
  test_fms/diag_manager/test_time_none.sh
Owners: @uramirez8707

Fix for file length limit
  test_fms/diag_manager/check_new_file_freq.F90
Owners: @uramirez8707

refactor to make things more efficient
  diag_manager/fms_diag_file_object.F90
Owners: @uramirez8707

docs: style guide update (#1642)
  CODE_STYLE.md
Owners: @uramirez8707, @bensonr, @rem1776

armci changes
  .github/workflows/github_cmake_gnu.yml
Owners: @rem1776

fixed the job name
  .github/workflows/github_cmake_gnu.yml
Owners: @rem1776

linter fix
  .github/workflows/github_cmake_gnu.yml
Owners: @rem1776

Updates to contributing guide to reflect modern FMS practices
  CONTRIBUTING.md
Owners: @uramirez8707, @bensonr, @rem1776

.github/CODEOWNERS:

#***********************************************************************
#*                   GNU Lesser General Public License
#*
#* This file is part of the GFDL Flexible Modeling System (FMS).
#*
#* FMS is free software: you can redistribute it and/or modify it under
#* the terms of the GNU Lesser General Public License as published by
#* the Free Software Foundation, either version 3 of the License, or (at
#* your option) any later version.
#*
#* FMS is distributed in the hope that it will be useful, but WITHOUT
#* ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
#* FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License
#* for more details.
#*
#* You should have received a copy of the GNU Lesser General Public
#* License along with FMS.  If not, see <http://www.gnu.org/licenses/>.
#***********************************************************************
#
# Each line is a file pattern followed by one or more owners.  The owner
# can be specified by their @username, or an email address.
#
# Order is important.  The last matching pattern takes the most precedence.

# These owners will be the default owners for all the files in the
# repository.  Unless a later match is found, these owners
# will be requested for a review when a PR is opened.
*          @uramirez8707 @bensonr @rem1776

# GNU autotools files
Makefile.am      @uramirez8707 @rem1776
/configure.ac    @uramirez8707 @rem1776
/m4/             @uramirez8707 @rem1776
*.m4             @uramirez8707 @rem1776

# cmake files
CM*              @mlee03
cmake            @mlee03

# Files specific to GitHub or GitLab
/.github/        @rem1776

# Testing files
/test_fms/       @uramirez8707 @mlee03 @bensonr @rem1776

# Specific component directories
/affinity/          @bensonr
/test_fms/affinity/ @bensonr @rem1776

/block_control/          @bensonr
/test_fms/block_control/ @bensonr @rem1776

#/data_override/ Currently no code owner
/test_fms/data_override/ @rem1776

/diag_manager            @uramirez8707
/test_fms/diag_manager/  @uramirez8707

/fms/             @uramirez8707 @rem1776
/test_fms/fms/    @uramirez8707 @rem1776
/fms2/            @uramirez8707
/test_fms/fms2/   @uramirez8707

/libFMS/           @uramirez8707 @rem1776

/mpp/              @uramirez8707 @bensonr
/test_fms/mpp/     @uramirez8707 @bensonr @rem1776
